<div class="main-container">
    <header class="header-6">
        <div class="branding">
            <a class="nav-link" routerLink="/">
                <clr-icon shape="home" size="24"></clr-icon>
                <span class="title">Student Campus</span>
            </a>
        </div>
        <div class="header-nav">
            <a routerLink="/register" class="active nav-link nav-text">Register</a>
            <a routerLink="/studentDetail" class="active nav-link nav-text">Details</a>
        </div>
    </header>
    <router-outlet></router-outlet>
</div>